<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <li>
            <img src="../../assets/icono_app.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
        </li>
        <li>
            Librería Angular
        </li>
        <li>
            <button class="btn btn-dark" (click)="cambiarVisibilidadComponentes()">
                Inicia sesión
            </button>
        </li>
      </a>
    </div>
  </nav>